.row.container
    .row.middle-xs.per-bottle
      .col-xs-12.col-md-6.text
        .row.middle-xs
          .col-xs-12
            h1 $36.50 per bottle! 
        .row
          span.retail
            | Retail price $99 per bottle
            span
        .row
          p
            | So for a little over $1 per day, you can be feeding your gut with
            | Provitalize’s 3 vital probiotic strains, premium grade capsules, and
            | additional ingredients that turn your stomach into a boiler for incinerating
            | fat.
            br
      // Product Image
      .col-xs-12.col-md-6.image
        .row.center-xs
          img(src='img/4-bottle.png', alt='Smiley face', height='100%', width='100%')
