.sp__40.sp__40-md
#congratulations.container.bg-lightgrey.section
    .col-xs-12
        .row.middle-xs
            // icon
            .col-md-2.col-xs-12.center-xs.truck
                i.fa.fa-truck.fa-5x
            // Col
            .col-md-10.col-xs-12.center-xs.start-md
                p
                    b Congratulations! 
                    | Your Provitalize order is on its way. Soon you can
                    | experience how its unique formula can rebalance your gut bacteria and
                    | turn more fat into fuel. Yet…
