.row.notice
  .container
    .row.center-xs
      .col-xs-12
        h3
          span.important Important
      .col-xs-12
        h2 This 60% Discount is Available Only as a ONE-TIME Add On for New Customers
    .row.middle-xs.border
      .col-xs-12.col-md-6.text
        .row.start-xs
          p
            | If you close this page you’ll need to pay $99 for a single bottle of
            | Provitalize in the future. Whereas today, you can get 6 bottles for just
            | $36.50 each.
          p
            | If you’re serious about improving your gut health...feeding your body with
            | healthy bacteria...and regaining your ability to turn food into fuel instead of
            | ugly belly fat, make sure you take advantage of this special offer.
          p
            | And remember that with our 60 day month back guarantee, you either lose
            | weight and gain greater self confidence from a slimmer, healthier body or
            | you get every cent back.
          p
            | You’ve been battling for weight problems for so long. Don’t you think it’s
            | time to stop the struggle and finally gain the body you deserve?
          br
      // Product Image
      .col-xs-12.col-md-6.image
        .row.center-xs
          img(src='img/4-bottle.png', alt='Smiley face', height='100%', width='100%')
        // Discount
        .row.center-xs.middle-xs
          .col-xs-12.discount
            .row.center-xs
              h1 $375 OFF the retail price!
          .col-xs-12
            .row.center-xs
              button#order Yes, Add On My Order with 6 Bottles of Provitalize Now!
          .col-xs-12
            .row.center-xs
              span.retail Retail price: $594
