// Youtube
.row.center-xs
  .container
    h1
      | Here’s a reminder of how people are transforming their bodies and lives
      | with Provitalize
    .row.center-xs
      .col-xs-12.col-md-6.youtube-video
        .row.center-xs
          iframe(width='100%', height='315', src='https://www.youtube.com/embed/pWlREl7By3I', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
      .col-xs-12.col-md-6.youtube-video
        iframe(width='100%', height='315', src='https://www.youtube.com/embed/8KKZ5lNX1do', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
