

// Bottom CTA

.bottom-cta button {

    width: 100%;
}

.bottom-cta {
	background:$lightgrey;
	padding:50px 0px 50px 0px !important;
	color:$text;
}
.bottom-cta h1::after {
	content: '';
	display:flex;
	height: 5px;
	width: 10%;
	top: 20px;
	background: $text;
	position: relative;
	left: 45%;
}
