// Noitice 

.notice h2::after {
	content: '';
	display:flex;
	height: 5px;
	width: 10%;
	top: 20px;
	background: $text;
	position: relative;
	left: 45%;
}

.notice .image, .notice .text {
    border-right:1px solid;
    padding:30px !important;
}
.notice {
    color:$text;
    padding: 50px 0px 50px 0px;
}

.discount {
	border: 2px dotted black;
}
.border {

    border:1px solid black !important;
    margin-top:20px !important;
}
