
.per-bottle {

    background:white;
    color:$text;
    border: 1px solid black;
    margin-bottom:40px !important;
}

.image {
    border-left:1px solid black;
    }
.per-bottle .text , .per-bottle .image {

    padding:30px !important;
}
