// Steps Icon 
.step i {
    padding-right:10px !important;

}
/* Steps Code */

.step {
    padding:20px;
    border:1px solid #333;
    overflow: hidden;
    color:#333;
}


.step p {

    font-size: 14px !important;
    font-weight:600;
    margin:0px !important;
    text-transform:uppercase;


}
.current-step {
    background:#333;
    color:$white;
}

.step-dot {
  	height: 10px;
    width: 10px;
    background: $turq;
    display: inline-block;
    border-radius: 100px;
  	margin-right:10px;
  	top: -1px;
  	position:relative;
}

// State

.current-step .step-dot { 
 	background:$white;
}

@media only screen and (max-width: 768px) {
    .steps {
       border-radius: 5px;
       border-right:0px;
    }
}
