.mysteps li.not-done:before {
    border: solid 1px $grey;
    padding: 5px;
    background-clip: content-box;
    background-color: $grey;
}

// Steps
.mysteps {
    width:20em;
}

// Media steps width
	@media #{$sm-viewport} {
        .mysteps {
            width:40em;
        }
    }

.mysteps ul {
  width: 100%;
  display:table;
}

.mysteps li {
    display: inline-block;
    width:25%;
    position:relative;
    padding-top:50px;
    text-align:center;
    font-weight:600;
    text-transform: uppercase;
    // Color li Text
    color: #333;
    letter-spacing:.1em;

    &:before {
        /*  circle/dot*/
        content:'';
        width:30px;
        height:30px;
        // color bar
        background:#333;
        position: absolute;
        top:0;
        left:calc(50% - 15px);
        border-radius: 100%;
        z-index:6;  
    }
    &:after {
        /*line*/
        content:'';
        width:100%;
        height:1px;
        background:#333;
        position: absolute;
        right:calc(50% - 15px);
        top:20px;
        z-index:5;  
    }
    &:first-child:after{content:none;}
    &.done-orange:before{
        border: solid 1px #f06d06;
        padding: 5px;
        background-clip: content-box; /* support: IE9+ */
        background-color: #f06d06;
    // Color active dot
    &:before {
        backgroundi:#333;
   z-index:10;  
    }
  }
}

ul {
list-style: none;
padding: 0;
margin: 0;
}


.mysteps li.done-blue:before {
    border: solid 1px $dark-blue;
    padding: 5px;
    background-clip: content-box;
    background-color: $dark-blue;
}

.mysteps li.done-green:before {
    border: solid 1px $pre-dark-green;
    padding: 5px;
    background-clip: content-box;
    background-color: $pre-dark-green;
}

