//- order button mixin
mixin order-button(title)
    button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold= title 
        i.fa.fa-arrow-right.sp__left-1

//- order button mixin
mixin cancel-button(title)
    button#cancel.ch-btn.mt__40.f__bold= title
