// Table Of Contents

/** 

* CH01 - Resets 
* CH02 - Typography

**/
@import 'includes/old';
@import 'includes/normalize';
@import 'includes/flexbox';
@import 'includes/flexboxsass';

// colors

$green: #3C963E;
$blue: #093783;
$turq: #4998A7;
$lightgrey: #EFEFEF;
$grey: #ADADAD;
$text: #323232;
$white: #FFFFFF;


body {
    font-family: 'Open Sans', sans-serif;
}

nav { 

    @include row();
    color:$white; 
    background:$turq;
}

nav > div {

    @include container();
    @include row();
} 
nav > div > div { 

    @include col($twelve, $twelve, $six, $six);
}

