// logo End
.nav.row
    .container
        .col-xs-12
            .row.center-xs.middle-xs
                img(src='https://cdn.shopify.com/s/files/1/2060/5733/files/company-logo_1024x1024.png').pd__10

