//- Steps
.row.bg__white
    .container
        .col-xs-12
            .row.center-xs
                .col-11-xs
                    .sp__25
                    .mysteps
                        ul
                            li.not-done Step 1
                            li.done-orange Step 2
                            li.not-done Step 3

                    .sp__25
