// Steps
.row.bg__white
    .container
        .col-xs-12
            .row.center-xs
                .col-11-xs
                    .sp__25
                    .mysteps
                        ul
                            li.current Step 1
                            li.current Step 2
                            li.current Step 3

                    .sp__25
