.row
    .col-xs-12
        .row

            // 1st Step
            .col-md-4.col-xs-12.col-sm-4.step.current-step
              .row.middle-xs.center-xs
                i.fa.fa-check
                p Step 1
            // 2nd Step
            .col-md-4.col-xs-12.col-sm-4.step
              .row.middle-xs.center-xs
                i.fa.fa-circle-o
                p Step 2
            // 3nd Step
            .col-md-4.col-xs-12.col-sm-4.step
              .row.middle-xs.center-xs
                i.fa.fa-circle-o
                p Step 3
