//- Mixins -- Add this file to head
include mixins/button
//- Includes Head
include includes/head
body

    //- Includes Nav
    include includes/nav
    // Step 1 of 3:
    include includes/steps

    //- Write some if statement

    .bg__pro_gradient
        .container.section__80
            .row.center-xs
                .col-xs-11.col-md-8

                    h1.mb__40.c__white Wait! Before you continue, check out this one-time offer

            //- Box
            .row.center-xs.mb__40
                .col-xs-11.col-md-8.bg__white.border-dotted
                    i.fa.fa-truck.fa-4x.mt__20.mb__20
                    .row.center-xs
                        p 
                            b Congratulations! 
                        p
                            | Your Provitalize order is on its way. Soon you can experience how its unique formula can rebalance your gut bacteria and turn more fat into fuel. Yet…
                    

            .row.center-xs
                .col-xs-11.col-md-8


                    h1.mb__40.c__white How Would You Like To Stock Up an Extra 6 Bottles at a 60% Discount?

                    // Timer includes
                    include mixins/countdown

                    p.mt__40.c__white
                        | Soon your Provitalize order will arrive in the mail. 
                        | You can then experience how powerful it is at repopulating your gut with healthy bacteria, wiping out the bad guys and turning food into fuel, instead of ugly belly fat.
                    p.c__white
                        | As your slimmer body starts to emerge in the mirror, we just know you’ll want to continue benefiting from Provitalize’s fat incinerating power. 
                        u You currently have just enough to start seeing gradual improvement to your body. 
                        | As a new customer, we want to help you gain the long-term sustainable benefits of Provitalize while also saving money.
                    p.c__white 
                        | So from this page only, you can add on to your order so you can 
                        strong try out 6 bottles of Provitalize for just $219. 
                        | That’s a 60% discount on the recommended retail price, saving you $375. 
    // Section
    .bg__white
        .container.section__80
            .row.center-xs
                .col-xs-11.col-md-8
                    h1.mb__40.c__blue Add Provitalize 6-Bottle Bundle to your order

                    +order-button('Add to order - $594')

                    p.retail.mt__40
                        strong $36.50 per bottle! (
                        | Retail price $99 per bottle)

                    .row.center-xs.mt__40.mb__40
                        .col.xs-12.col-md-8

                            img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_6_bottles_1024x1024.png" alt="Image Title")

                    p So for a little over $1 per day, you can be feeding your gut with Provitalize’s 3 vital probiotic strains, premium grade capsules, and additional ingredients that turn your stomach into a boiler for incinerating fat.

    //Section
    .bg__lightgrey.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8

                    // Video Section 

                    h1.mb__40  Here’s a reminder of how people are transforming their bodies and lives with Provitalize:

                .col-xs-11.col-md-12

            .row
                .col-xs-12.col-md-6.youtube-video
                    iframe(width='100%', height='315', src='https://www.youtube.com/embed/pWlREl7By3I', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

                .col-xs-12.col-md-6.youtube-video
                    iframe(width='100%', height='315', src='https://www.youtube.com/embed/8KKZ5lNX1do', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')


    // Guarentee
    .bg__pro_gradient.c__white.section__80
        .container
            .row.middle-xs.center-xs
                .col-xs-11.col-md-8
                    img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png" alt="Image Title" style="width:300px;")

                    p.mt__40 
                        | Provitalize 6-Bottle bundle still comes with our 
                        strong free shipping worldwide, backed by our ironclad 60 day money back guarantee. 
                        | So you’ve nothing to lose in upgrading to the 6 bottle bundle.

    .bg__lightgrey.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8

                    // Important
                    .row.center-xs
                        .col-xs-11.col-md-6
                            p.important.mb__40 Important

                    h1.mb__40 This 60% Discount is Available Only as a ONE-TIME Add On for New Customers
                    p.mb__40
                        | If you close this page you’ll need to pay $99 for a single bottle of Provitalize in the future. Whereas today, you can get 6 bottles for just $36.50 each.
                        | If you’re serious about improving your gut health...feeding your body with healthy bacteria...and regaining your ability to turn food into fuel instead of ugly belly fat, make sure you take advantage of this special offer.
                        | And remember that with our 60 day month back guarantee, you either lose weight and gain greater self confidence from a slimmer, healthier body or you get every cent back.
                        | You’ve been battling for weight problems for so long. Don’t you think it’s time to 
                        strong stop the struggle and finally gain the body you deserve?

    .bg__white.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8
                    // highlight "Provitalize 6-Bottle Bundle" Orange
                    h1.mb__40 Add Provitalize 6-Bottle Bundle to your order (Retail price: $594)
                    +order-button('Add to order - $594')

                    .row.center-xs
                        .col-xs-11.col-md-6
                            p.retail.mb__40.mt__40 $375 OFF the retail price!

                    .row.center-xs.mt__40.mb__40
                        .col.xs-12.col-md-8

                            img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_6_bottles_1024x1024.png" alt="Image Title")

    // Bottom Cta
    .bg__pro_gradient.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8

                    h1.mb__40.c__white Take Advantage Of This Deal Now!
                    p.mb__40.c__white Click on the green button below to instantly add this add on to your order. You will not need to enter your payment details again. 
                    // Button Mixin
                    +order-button('Yes, Add On My Order with 6 Bottles of Provitalize Now!')
                    // Cancel Button
                    +cancel-button('No thank you, I would not like to take advantage of the 60% discount for 6 bottles of Provitalize. I’m happy with just one month supply and then paying $99 per bottle afterward. Please take me to the next page to complete my order')





