// Mixins -- Add this file to head
include mixins/button
// Includes Head
include includes/head
body

    // Includes Nav
    include includes/nav
    .sp__50
    // Step 1 of 3:
    include includes/steps

    .sp__50

    .row.bg__white
        .container
            .col-xs-12.center-xs
                h1.c__red WAIT! BEFORE YOU CONTINUE, CHECK OUT THIS ONE-TIME OFFER
                h2 Congratulations! Your Provitalize order is on its way. Soon you can experience how its unique formula can rebalance your gut bacteria and turn more fat into fuel. Yet…
                
                .sp__50

    .row.bg__lightgrey
        .container
            .col-xs-12.center-xs

                .sp__50

                h1 How Would You Like To Stock Up an Extra 6 Bottles at a 60% Discount?

                // Timer includes
                include mixins/countdown

                p 
                    | Soon your Provitalize order will arrive in the mail. 
                    | You can then experience how powerful it is at repopulating your gut with healthy bacteria, wiping out the bad guys and turning food into fuel, instead of ugly belly fat.
                p
                    | As your slimmer body starts to emerge in the mirror, we just know you’ll want to continue benefiting from Provitalize’s fat incinerating power. 
                    u You currently have just enough to start seeing gradual improvement to your body. 
                    | As a new customer, we want to help you gain the long-term sustainable benefits of Provitalize while also saving money.
                p 
                    | So from this page only, you can add on to your order so you can 
                    strong try out 6 bottles of Provitalize for just $219. 
                    | That’s a 60% discount on the recommended retail price, saving you $375. 
                // Button
                // Highlight "Provitalize 6-Bottle Bundle" in orange
                +order-button('Add "Provitalize 6-Bottle Bundle" to your order (Retail price: $594)')
                p 
                    strong $36.50 per bottle! (
                    | Retail price $99 per bottle)

                img(src="img/provitalize_bottles.png" alt="Image Title" style="width:50%;")

                p So for a little over $1 per day, you can be feeding your gut with Provitalize’s 3 vital probiotic strains, premium grade capsules, and additional ingredients that turn your stomach into a boiler for incinerating fat.

    //Section
    .row.bg__turq.c__white
        .container
            .col-xs-12.center-xs

                // Video Section 

                h1  Here’s a reminder of how people are transforming their bodies and lives with Provitalize:

                h1 Add Videos Here


                // Section

                p 
                    | Provitalize 6-Bottle bundle still comes with our 
                    strong free shipping worldwide, backed by our ironclad 60 day money back guarantee. 
                    | So you’ve nothing to lose in upgrading to the 6 bottle bundle.

                // Important Section

    .row.bg__lightgrey
        .container
            .col-xs-12.center-xs

                .sp__50

                h1 Important - This 60% Discount is Available Only as a ONE-TIME Add On for New Customers
                p
                    | If you close this page you’ll need to pay $99 for a single bottle of Provitalize in the future. Whereas today, you can get 6 bottles for just $36.50 each.
                    | If you’re serious about improving your gut health...feeding your body with healthy bacteria...and regaining your ability to turn food into fuel instead of ugly belly fat, make sure you take advantage of this special offer.
                    | And remember that with our 60 day month back guarantee, you either lose weight and gain greater self confidence from a slimmer, healthier body or you get every cent back.
                    | You’ve been battling for weight problems for so long. Don’t you think it’s time to 
                    strong stop the struggle and finally gain the body you deserve?

                // highlight "Provitalize 6-Bottle Bundle" Orange
                +order-button('Add "Provitalize 6-Bottle Bundle" to your order (Retail price: $594)')

                h5 $375 OFF the retail price!

                img(src="img/provitalize_bottles.png" alt="Image Title" style="width:50%;")

                .sp__50

    // Bottom CTA 
    .row.bg__blue.c__white
        .container
            .col-xs-12.center-xs
                .sp__50
                h1 Take Advantage Of This Deal Now!
                p Click on the green button below to instantly add this add on to your order. You will not need to enter your payment details again. 
                // Button Mixin
                +order-button('Yes, Add On My Order with 6 Bottles of Provitalize Now!')
                // Cancel Button
                +cancel-button('No thank you, I would not like to take advantage of the 60% discount for 6 bottles of Provitalize. I’m happy with just one month supply and then paying $99 per bottle afterward. Please take me to the next page to complete my order')
                .sp__50





