extends includes/layout

block content
    -var ProductImage = "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_2_bottles_1024x1024.png"


    //- Section 
    .bg__post_gradient
        .container.section__80
            .row.center-xs
                .col-xs-11.col-md-8
                    .row.center-xs.mb__40
                        .col.xs-12.col-md-6
                            p.important-light HOLD ON! 
                    h1.mb__40.c__white How Would You Like To Try 2 Bottle of Postburn at a 32% Discount?

                    p.c__white 
                        | If 4 bottles of Postburn seemed too big a commitment, we get it. Perhaps
                        | the price was too high, even with the discount.
                    p.c__white
                        | Yet, we’re eager for you to experience how Postburn can help you put the
                        | foot down on the accelerator and release more stored fat into your body’s
                        | engine to be 
                        b converted into natural “all day” energy.
                    p.c__white
                        | So we’d like to make you an offer that’s easier to afford.
                    p.mb__40.c__white
                        | As a new customer and from this page only you can try 2 bottle of
                        | Postburn for $85.00, a 32% discount on the recommended normal retail price
                        | of $125.

    .bg__white
        .container.section__80
            .row.center-xs
                .col-xs-11.col-md-8

                    +order-button('Add 2 Bottle of Postburn to your order - $85.00')
                    .row.center-xs
                        .col-xs-11.col-md-6
                            p.retail.mt__40 Retail price $125
                    .row.center-xs.mt__40.mb__40
                        .col.xs-12.col-md-6
                            img(src=ProductImage alt="Image Title" style="width:100%;")

                    p.mt__40 
                        | With this generous discount, you can add try out adding Postburn as the
                        | accelerator to your weight loss efforts with Provitalize. And discover its fat
                        | releasing, fat converting, and energy boosting power for 
                        b a little over $1 a day.
                    p
                        | Postburn’s 
                        b energy release is clean and natural
                        | , making it the healthier
                        | and superior alternative to soda or coffee for powering through the day.

    .bg__post_gradient.c__white.section__80
        .container
            .row.middle-xs.center-xs
                .col-xs-11.col-md-8
                    img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png" alt="Image Title" style="width:300px;")
                    p.mt__40
                        | Postburn 1-Bottle still comes with our 
                        b free shipping worldwide
                        | , backed
                        | by the same 
                        b ironclad 60 day money back guarantee!

    //- Section
    .section__80.bg__lightgrey
        .container
            .row.center-xs
                .col-xs-11.col-md-8
                    .row.center-xs
                        .col-xs-11.col-md-6
                            p.important.mb__40 Important 
                    h1.mb__40.c__dark-orange This 32% Discount is Available Only as a ONE-TIME Offer for New Customers
                    p 
                        | If you close this page you’ll need to pay $125 for a single bottle of Postburn.
                        | Whereas today, you can claim a month’s supply for just $85.00 and save $40
                        | to keep in your pocket.
                    p
                        | If you’re eager to be among our ambitious group of customers who leave
                        | no stone unturned in their 
                        b pursuit of a better body
                        | and to gain the energy
                        | to 
                        b become a captain of industry in the workplace...
                        | a machine in the
                        | gym...and a whirlwind in everyday life...Postburn is the weight loss
                        | accelerator that can help you do it.
                    p
                        | Remember that with our 60 day month back guarantee, you either lose
                        | weight and gain a greater release of life transformative energy or you get
                        | every cent back. So why not 
                        b give Postburn a try and claim your 32% discount?

    //- Section 
    .section__80.bg__white
        .container
            .row.center-xs
                .col-xs-11.col-md-8
                    
                    h1.mb__40.c__dark-orange Add Bottle of Postburn for Just $85.00.00

                    .row.center-xs
                        .col-xs-11.col-md-6
                            p.retail.mb__40 Retail price: $125

                    +order-button('Add to order - $85.00.00')

                    .row.center-xs.mt__40.mb__40
                        .col.xs-12.col-md-6
                            img(src=ProductImage alt="Image Title")
                    .row.center-xs
                        .col-xs-11.col-md-6
                            p.border-dotted.mb__40.mt__40 $50 OFF the retail price!

    //- Section CTA
    .bg__post_gradient.section__80.c__white
        .container
            .row.center-xs
                .col-xs-11.col-md-8

                    h1.mb__40 Take Advantage Of This Deal Now!

                    p.mb__40 
                        | Click on the green button below to instantly add this
                        | special offer to your order. You will not need to enter your payment details again.

                    +order-button('Yes, Add 2 Bottle of Postburn To My Order Now')
                    +cancel-button('No thank you, I would not like to take advantage of the 32% discount for 2 bottle of Postburn. I’m happy maintain the release of stored fat into my body’s energy at average levels. Please take me to the next screen to complete my order')
