include includes/head
include includes/nav
body
    // Done just needs to be checked and add highlights

    // Step 2 of 3:
    h1 WAIT!

    h1 How Would You Like To Try 2 Bottles of Previtalize at a 52% Discount?
    p If 4 bottles of Previtalize seemed too big a commitment, we get it. Perhaps
        | the price was too high, even with the discount.
        br
        | Yet, we’re eager for you to experience how Previtalize’s “super yeasts”
        | accelerate Provitalize’s fat burning potential.
        br
        | So we’d like to make you an offer that’s more affordable.
        | As a new customer and from this page only you can try out 2 bottles of
        br
        | Previtalize for $65 - a 52% discount on the recommended normal retail
        | price of $134.
    button Add &quot;Previtalize 2-Bottle Bundle&quot; to your order

    h1 
        i $32.50 per bottle! 
        | (Retail price $67 per bottle)

    img.className#IdName(src="/path-to-image.jpg" alt="Image Title")

    p So for a little over $1 per day you can be feeding your gut with super
        | yeasts that sends Provitalize’s fat incinerating into overdrive, as well as
        | help relieve stress, lift your mood, and improve your sleep.
        | Previtalize 1-Bottle still comes with our free shipping worldwide, backed
        | by the same ironclad 60 day money back guarantee!

    h1 Important - This 52% Discount is Available Only as a ONE-TIME Add On for New Customers

    p If you close this page you’ll need to pay $67 for a single bottle of
        | Previtalize in the future. Whereas today, you can get 2 bottles for just
        | $32.50 each .
        br
        | If you’re serious about improving your gut health...feeding your body with
        | healthy bacteria...and regaining your ability to turn food into fuel instead of
        | ugly belly fat, make sure you take advantage of this special offer.
        | And remember that with our 60 day month back guarantee, you either lose
        br
        | weight, improve your mood, get better sleep and feel all round healthier, or
        | you get every cent back:

    button ADD Previtalize 2-Bottle Bundle for Just $65.00 (Retail price: $134)
    h2 $69 OFF the retail price!

    img.className#IdName(src="/path-to-image.jpg" alt="Image Title")

    // Bottom CTA

    hr 

    h1 Take Advantage Of This Deal Now!

    p Click on the green button below to instantly add this add on to your order. You will not need to enter your payment details again.

    button Yes, Add 2 Bottles of Previtalize To My Order Now!

    button 
        | No thank you, I would not like to take advantage of the 52% discount for 2 bottles of Previtalize. 
        | I’m happy getting average results and taking longer to lose weight. Please allow me to complete my order
