include includes/head.pug
body
    include includes/nav.pug
    include includes/steps.pug
    include sections/wait.pug
    include sections/congrats.pug
    include sections/offer.pug
    include sections/bottles.pug
    include sections/youtube.pug
    include sections/gaurentee.pug
    include sections/important.pug
    include sections/cta.pug
