include includes/layout

//- Postburn 2
-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_2_bottles.png?16327614941438659061",
        quantity: "2",
        discount: "NULL",
        retail: "$190",
        price: "$85",
        product: "2 bottle of Postburn",
        name: "Postburn",
        perbottle: "NULL",
        saving: "$105",
        currentsupply: "NULL",
        theme: "bg__post_gradient"

    }


include templates/downsell
