include includes/layout


//- Postburn 4
-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_4_bottles_1024x1024.png",
        quantity: "4",
        discount: "",
        retail: "",
        price: "$125",
        product: "4 bottles of Provitalize",
        name: "Postburn",
        perbottle: "",
        saving: "$255",
        currentsupply: "one month",
        theme: "bg__post_gradient"

    }

include templates/postburn-upsell
