include includes/layout

//- 2 Bottle Previtalize
-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_previtalize_2_bottles_1024x1024.png",
        quantity: "2",
        discount: "NULL",
        retail: "$134",
        price: "$65",
        product: "2 bottle of Previtalize",
        name: "Previtalize",
        perbottle: "$32.50",
        saving: "$69",
        currentsupply: "NULL",
        theme: "bg__pre_gradient",
        purchasedname: "Provitalize",
        purchased: "1 bottles of Previtalize",
        purchasedsupply: "one",

    }

include templates/downsell
