include includes/layout

// Post Burn 1

-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_1_bottle_1024x1024.png",
        guarantee: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png",
        quantity: "1",
        discount: "40%",
        retail: "$95",
        price: "$49",
        product: "1 bottle of Postburn",
        name: "Postburn",
        perbottle: "NULL perbottle",
        saving: "NULL SAVING",
        currentsupply: "one month",
        theme: "bg__post_gradient",
        retailperbottle: "NULL",
        previous: "NULL",
        previousamount: "NULL"

    }

include templates/downsell
