include includes/layout

// 4 Bottle Provitalize
-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_4_bottle_1024x1024.png",
        quantity: "4",
        discount: "60%",
        retail: "{NULL retail}",
        price: "$139",
        product: "4 bottle of Provitalize",
        name: "Provitalize",
        perbottle: "$34.75",
        saving: "$257",
        currentsupply: "NULL",
        theme: "bg__pro_gradient",
        retailperbottle: "$99",
        previous: "NULL",
        previousamount: "NULL"

    }


include templates/provitalize-upsell
