include includes/layout

//- 2 Bottle Provitalize
-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_2_bottles.png?16327614941438659061",
        quantity: "2",
        discount: "60%",
        retail: "NULL",
        price: "$89",
        product: "2 bottle of Provitalize",
        name: "Provitalize",
        perbottle: "$44.50",
        saving: "NULL",
        currentsupply: "NULL",
        theme: "bg__pro_gradient",
        purchasedname: "Provitalize",
        purchased: "1 bottles of Provitalize",
        purchasedsupply: "one",
        previous: "NULL",
        previousamount: "NULL"

    }

include templates/downsell
