include includes/layout

// 1 Bottle Provitalize
-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_1_bottle_1024x1024.png",
        guarantee: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png",
        quantity: "1",
        discount: "40%",
        retail: "{{NULL retail}}",
        price: "$49",
        product: "1 bottle of Provitalize",
        name: "Provitalize",
        perbottle: "{{NULL perbottle}}",
        saving: "{{NULL saving}}",
        currentsupply: "{{NULL currentsupply}}",
        theme: "bg__pro_gradient"

    }


include templates/downsell
