-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_1_bottle_1024x1024.png",
        guarantee: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png",
        SingularOrPlural: "bottle",
        quantity: "1",
        discount: "48%",
        retail: "$95",
        price: "$49",
        product: "1 bottle of Postburn",
        name: "Postburn",
        perbottle: "$49",
        perbottleretail: "$95",
        saving: "$46",
        currentsupply: "{{ NULL }}",
        theme: "bg__post_gradient",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}"

    }
