-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_2_bottles.png?16327614941438659061",
        quantity: "2",
        SingularOrPlural: "bottles",
        discount: "55%",
        retail: "$190",
        price: "$85",
        product: "2 bottle of Postburn",
        name: "Postburn",
        perbottle: "$42.50",
        perbottleretail: "$95",
        saving: "$105",
        currentsupply: "{{ One Month }}",
        theme: "bg__post_gradient",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}",

    }
