-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_postburn_4_bottles_1024x1024.png",
        quantity: "4",
        discount: "67%",
        retail: "$380",
        price: "$125",
        product: "4 bottles of Provitalize",
        name: "Postburn",
        perbottle: "$31.25",
        perbottleretail: "$95",
        saving: "$255",
        currentsupply: "{{ NULL }}",
        theme: "bg__post_gradient",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}"

    }
