-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_previtalize_1_bottle_1024x1024.png",
        SingularOrPlural: "bottle",
        quantity: "1",
        discount: "41%",
        retail: "$67",
        price: "$39",
        product: "2 bottle of Previtalize",
        name: "Previtalize",
        perbottle: "$32.50",
        perbottleretail: "$67",
        saving: "$28",
        currentsupply: "{{ NULL }}",
        theme: "bg__pre_gradient",
        purchasedname: "Provitalize",
        purchased: "1 bottles of Previtalize",
        purchasedsupply: "one",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}"

    }
