-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_previtalize_4_bottles_1024x1024.png",
        quantity: "4",
        discount: "64%",
        retail: "$268",
        price: "$95",
        product: "4 bottle of Previtalize",
        name: "Previtalize",
        perbottle: "$23.75",
        perbottleretail: "$67",
        saving: "$173",
        currentsupply: "{{ NULL }}",
        theme: "bg__pre_gradient",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}"

    }
