-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_6_bottles.png?4431596411428404348",
        quantity: "6",
        discount: "63%",
        retail: "$594",
        price: "$219",
        product: "6 bottle of Provitalize",
        name: "Provitalize",
        perbottle: "$36.50",
        perbottleretail: "$99",
        saving: "$375",
        currentsupply: "{{ NULL }}",
        theme: "bg__pro_gradient",
        purchasedname: "Provitalize",
        purchased: "1 bottles of Previtalize",
        purchasedsupply: "one",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}"

    }
