-
    var product = {
        image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_provitalize_1_bottle_1024x1024.png",
        SingularOrPlural: "bottle",
        guarantee: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png",
        quantity: "1",
        discount: "50%",
        retail: "$99",
        price: "$49",
        product: "1 bottle of Provitalize",
        name: "Provitalize",
        perbottle: "$49",
        perbottleretail: "$99",
        saving: "$50",
        currentsupply: "{{NULL }}",
        theme: "bg__pro_gradient",
        previous: "{{ NULL }}",
        previousamount: "{{ NULL }}"

    }
