// #1 === Includes ===

    // reset Flexbox Grid
    @import 'base/framework_resets';
    // Normalize.css
    @import 'includes/normalize.scss';
    // My own version of Flexbox Grid in Sass
    @import 'includes/flexboxsass.scss';
    // Set responsive @content for my Grid
    @import 'base/responsive';

// === Base ===

    @import 'base/base';
    // $var colors
    @import 'base/color_variables';

// === Modules ===

    @import 'module/nav';
    @import 'module/countdown';
    @import 'module/buttons';
    @import 'module/steps';
    @import 'base/margin';

    // Block Spacers
    @import 'base/spacers';
    // Padding
    @import 'base/padding';
    // Theme Background Colors
    @import 'base/background_color';

    // c__$color classes

    // Colors = c__*
    @import 'base/colors';

    @import 'base/typography';

// Random Code

    // Card

    .card {

        border-radius:5px;

    }

    // Shadows

    .shadow {

            box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    }

    // Dotted Border
    .border-dotted {

        border: 2px dotted black;
        padding: 20px;
        text-align: center;
    }


    // Important

    .important {

        border: 1px solid #333;
        border-radius:100px;
        padding: 10px 20px;
        font-weight:600;
    }

.section__40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.section__80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-lg {
    padding-top:120px;
    padding-bottom: 120px;
}

.mb__20 {
    margin-bottom:20px;
}
.mb__40 {
    margin-bottom:40px;
}
.mb__50 {
    margin-bottom:50px;
}

.mt__20 {
    margin-top:20px;
}
.mt__40 {
    margin-top:40px;
}

.bg__black {
    background:$black;
}
// Rib

.ribbon {
  padding: 15px;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.important {
    border:2px solid $red;
    color:$red;
    border-radius:5px;
}

