// #1 === Includes ===

    // reset Flexbox Grid
    @import 'base/framework_resets';
    // Normalize.css
    @import 'includes/normalize.scss';
    // My own version of Flexbox Grid in Sass
    @import 'includes/flexboxsass.scss';
    // Set responsive @content for my Grid
    @import 'base/responsive';

// === Base ===

    @import 'base/base';
    // $var colors
    @import 'base/color_variables';

// === Modules ===

    @import 'module/nav';
    @import 'module/countdown';
    @import 'module/buttons';
    @import 'module/steps';
    @import 'base/margin';

    // Block Spacers
    @import 'base/spacers';
    // Padding
    @import 'base/padding';
    // Theme Background Colors
    @import 'base/background_color';

    // c__$color classes

    // Colors = c__*
    @import 'base/colors';

    @import 'base/typography';

    // FlexBox Grid Framework
    @import 'includes/flexboxgridcss.scss';
// Random Code

    // Card

    .card {

        border-radius:5px;

    }

    // Shadows

    .shadow {

            box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    }

    // Dotted Border
    .border-dotted {

        border: 2px dotted black;
        padding: 20px;
        text-align: center;
    }


// Important


.section__40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.section__80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-lg {
    padding-top:120px;
    padding-bottom: 120px;
}

.mb__20 {
    margin-bottom:20px;
}
.mb__40 {
    margin-bottom:40px;
}
.mb__50 {
    margin-bottom:50px;
}

.mt__20 {
    margin-top:20px;
}
.mt__40 {
    margin-top:40px;
}

.bg__black {
    background:$black;
}
// Rib

.ribbon {
  padding: 15px;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.important {
    border:2px solid $red;
    color:$red;
    border-radius:5px;
    padding: 10px 20px;
    font-weight:600;
}

.retail {
    border:1px solid $black;
    color:$black;
    border-radius:5px;
    padding: 10px 20px;
    font-weight:600;
}

img {
    width:100%;
}

.important-light {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
}


/* Carhook Overright */

.white-wrapper {
	width: 100%;
}



#ch-checkout-app > .container  {
	padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;

}

.white-wrapper .img, .white-wrapper .btn  {
  display:none;

}

.white-wrapper br {
   display: none;
  
}


body {
  text-align:center;
 
  font-family: helvetica, sans-serif;
}

// New

.discount-inner {
    padding:20px;
}

.discount {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    margin: auto auto;
    position: relative;
    display: inline-block;
    background: #e57373;
    width: auto;
    height: 60px;
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 30px;
    /* display: flex; */
    width: 100%;

}

.discount:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 32px;
    left: 0px;
    z-index: 1;
    border-radius: 10px;
}

    .discount:after {
    content: " ";
    height: 68px;
    width: 68px;
    background: #e57373;
    position: absolute;
    top: 14px;
    left: -32px;
    border-radius: 4px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .discount {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        padding-top: 35px;
        padding-right: 10px;
        padding-left: 35px;
    }
}
