.bottom-cta button {

    width: 100%;
}
/* buttons */
    
button {
	border:0px;
	padding:20px 30px 20px 30px;
	border-radius:5px;
	font-weight:bold;
	margin-bottom:20px !important;
    width:100%;
    margin-top: 20px !important;
    border-radius:100px;
}

button#order {

	background:green;
	color:white;
}

button#order:hover {

	background:darkgreen;
}

button#cancel {

	background:lightgrey;
	color:black;
	border: 1px solid black;
	font-weight:500;
    border-radius: 5px;
}

button#cancel:hover {

	background:red;
	color:white;
}

/* Frameowrk */


.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-offset-0, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12 {

	padding: 0px !important;
}

/* Root Colors */

:root {
  --main-green-color: #3C963E;
  --main-blue-color: #093783;
  --main-turquoise-color: #4998A7;
  --main-lightgrey-color: #EFEFEF;
  --main-grey-color: #ADADAD; 
}

body {
    background-color: #F8F8F8;
	font-family: 'Montserrat', sans-serif;
}



.row {
  margin:0px !important;
}

/* Genral Code */

h2 {

    line-height:150% !important;

}

p { 
	font-size: 18px !important;
	line-height:30px;

}




/* Steps Code */

.steps {
    border:1px solid black;
    border-radius: 200px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
}

.step {
    background:lightgrey;
    padding: 20px !important;
    border-right: 1px solid black;


}
.current-step {
    background:#575757;
    color:white;
}

.step-dot {
  	height: 20px;
    width: 20px;
    background: #575757;
    display: inline-block;
    border-radius: 100px;
  	margin-right:10px;
  	top: -1px;
  	position:relative;
}

.current-step .step-dot { 
 	background:white;
}

/* Nav */

.nav {
    background:lightgrey;
}

/* Media */

@media only screen and (max-width: 768px) {
    .steps {
       border-radius: 5px;
       border-right:0px;
    }
}

.bottom-cta {
	background:#e5e5e5;
	padding:50px 0px 50px 0px !important;
	color:var(--main-blue-color);
}
.bottom-cta h1::after {
	content: '';
	display:flex;
	height: 5px;
	width: 10%;
	top: 20px;
	background: var(--main-blue-color);
	position: relative;
	left: 45%;
}
.notice h2::after {
	content: '';
	display:flex;
	height: 5px;
	width: 10%;
	top: 20px;
	background: var(--main-blue-color);
	position: relative;
	left: 45%;
}
/* Youtube */

.youtube { 
	background:lightgrey;
    color:var(--main-blue-color);
    padding: 40px 0px;
}

.youtube-video {

	padding:40px !important;
}
/* Expire */
#time {
    color:white;
    padding:5px 20px;
    border-radius:100px;
    background:var(--main-blue-color);
}


.expire { 
    border-radius:100px;
    padding:10px 20px;
    font-size:18px;
    background:white;
    color:var(--main-blue-color);

}

/* Discount */
.discount {
	border: 2px dotted black;
}
.footer {
	background:var(--main-blue-color);
	color: white !important;
	padding:20px !important;
}


.notice {
    color:var(--main-blue-color);
    padding: 50px 0px 50px 0px;
}

.notice .image, .notice .text {
    border-right:1px solid;
    padding:30px !important;
}

.guarantee {

    background:var(--main-blue-color);
    padding:40px 0px;
    color:white;
}

.per-bottle {

    background:white;
    color:var(--main-blue-color);
}

.per-bottle .text , .per-bottle .image {

    padding:30px !important;
}

.retail {
    border:1px solid black;
    border-radius: 100px;
    padding:10px 20px;
    color:black;
}

.main {
        
    padding:40px;
    color:white;
    background:var(--main-blue-color);
}

.important {

    color:white;
    padding:10px 20px;
    border-radius:100px;
    background:var(--main-blue-color);
}

.highlight {
    padding:5px 10px;
    border: 1px solid var(--main-blue-color);
}


.border {

    border:1px solid black !important;
    margin-top:20px !important;
}
