// Base Colors

.bg__turq {
    background:$turq;
}

.bg__blue {
    background:$dark-blue;
}

.bg__green {
    background:$green;
}

.bg__lightgrey {
    background:$lightgrey;
}

.bg__white {
    background:$white;
}
// Cool Hover
.bg__pink, .bg__pink-hover:hover {
	background: #fe9ba3
}

.bg__post_gradient {

   background: $post-gradient;
}
.bg__pre_gradient {

   background: $pre-gradient;
}
 
.bg__pro_gradient {

   background: $pro-gradient;
}

.bg__post_light_orange {

    background:#ffdece;
}

.bg__dark-orange {

    background:#d75617;
}
