// Colors

.c__black {
    color:$black;
}

.c__blue {
    color:$dark-blue;
}

.c__green {
    color:$green;
}

.c__white {
    color:$white;
}

.c__red {
    color:$red;
}
.c__turq {
    color:$turq;
}

.c__grey {
    color:$grey
}

// Post Burn

.c__dark-orange {

color:$post-dark-orange;

}
