// Congratulations
.row
.container.congrats
  .col-xs-12
    .row.middle-xs
      .col-xs-2.center-xs
        i.fa.fa-truck.fa-5x
      .col-xs-10
        p
          b Congratulations!
          |  Your Provitalize order is on its way. Soon you can
          |                             experience how its unique formula can rebalance your gut bacteria and
          |                             turn more fat into fuel. Yet…
