// Bottom CTA Section
.row.bottom-cta
  .container
    .row.center-xs
      .col-xs-12
        .row.center-xs
          h1 Take Advantage Of This Deal Now!
          p
            | Click on the green button below to instantly add this
            | add on to your order. You will not need to enter your payment details again.
        .row.center-xs
          .col-xs-12.col-md-6
            button#order Yes, Add On My Order with 6 Bottles of Provitalize Now!
            button#cancel
              | No thank you, I would not like to take advantage of the 60% discount for 6 bottles of Provitalize. I’m
              | happy with just one month supply and then paying $99 per bottle afterward. Please take me to the next page to complete my order
// end Bottom CTA

