.row.guarantee
  .container
    .row.middle-xs.center-xs
      .col-xs-12.col-md-4
        img(src='img/guarentee.png', alt='Smiley face', height='75%', width='75%')
    .row.middle-xs.center-xs
      .col-xs-12
        p
          | Provitalize 6-Bottle bundle still comes with our free shipping worldwide,
          | backed by our ironclad 60 day money back guarantee. So you’ve
          | nothing to lose in upgrading to the 6 bottle bundle.
        .row.center-xs.middle-xs
          .col-md-6.col-xs-12
            button#order.row.center-xs.middle-xs
              | Add "Provitalize 6-Bottle Bundle" to your order 
              i.fa.fa-cart-plus.fa-2x
    .row
      .col-xs-12
        span.retail Retail price: $594
