// Section
.row.main
  .container
    .col-xs-12
      .row.center-xs
        h1 How Would You Like To Stock Up an Extra 6 Bottles at a 60% Discount?
    .col-xs-12
      .row.center-xs
        h1.expire
          | THIS SPECIAL OFFER WILL EXPIRE IN 
          span#time
    .col-xs-12
      .row.center-xs
        p
          | Soon your Provitalize order will arrive in the mail. You can then experience
          | how powerful it is at repopulating your gut with healthy bacteria, wiping out
          | the bad guys and turning food into fuel, instead of ugly belly fat.
        br
        p
          | As your slimmer body starts to emerge in the mirror, we just know you’ll
          | want to continue benefiting from Provitalize’s fat incinerating power. You
          | currently have just enough to start seeing gradual improvement to your
          | body. As a new customer, we want to help you gain the long-term
          | sustainable benefits of Provitalize while also saving money.
        br
        p
          | So from this page only, you can add on to your order so you can try out 6
          | bottles of Provitalize for just $219. That’s a 60% discount on the
          | recommended retail price, saving you $375.
    .row.center-xs
      .col-md-6.col-xs-12
        .row.center-xs.middle-xs
          button#order.row.center-xs.middle-xs
            | Add "Provitalize 6-Bottle Bundle" to your order now
            i.fa.fa-cart-plus.fa-2x
